body {
    font-family: Arial, sans-serif;
    background-image: url("https://cdn.openart.ai/stable_diffusion/f2acd5c3d5b04980214fcbcba682592b90908670_2000x2000.webp");
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}


h1 {
    color:#ffffff;
    text-align: center;
    margin-bottom:20px;
}

.quiz-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: auto;
    text-align: left;
}

.question {
    font-size: 1.2em;
    margin-bottom: 15px;
}

input[type="radio"] {
    margin-right: 10px;
}

label {
    font-size: 1em;
    color: #333333;
    cursor: pointer;
}

button {
    background-color: #f10404;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #ff0000;
    transform: scale(1.05);
}